<h4>Edit a restaurant</h4>
<form (submit)="updateRestaurant()">
  <div class="container" style="height:450px; width:100%; border:1px solid salmon">
    <h5>Restaurant Name:</h5>
    <input type="text" name="name" [(ngModel)]="editRestaurant.name" value="editRestaurant.name" />
    <h5>Restaurant Cuisine:</h5>
    <input type="text" name="cuisine" [(ngModel)]="editRestaurant.cuisine" value="editRestaurant.cuisine" />
    <button [routerLink]="['/restaurants']">Cancel</button>
    <input type="submit" value="Submit" />
    <p *ngIf="errors">something happened:{{errors}}</p>
  </div>
</form>
